<ion-header>
  <ion-toolbar>
    <ion-title>
      CAClearing Prototipo
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h2>Prototipo manejo de imagenes</h2>

  <ion-item>
    <ion-label>Calidad</ion-label>
    <ion-range min="0" max="100" color="secondary" [(ngModel)]="quality" pin="true">
      <ion-label slot="start">0</ion-label>
      <ion-label slot="end">100</ion-label>
    </ion-range>
  </ion-item>

  <ion-item>
    <ion-label>Alto</ion-label>
    <ion-input type="number" [(ngModel)]="height" placeholder="ingresar valor"></ion-input>
  </ion-item>
  <ion-item>
      <ion-label>Ancho</ion-label>
      <ion-input type="number" [(ngModel)]="width" placeholder="ingresar valor"></ion-input>
  </ion-item>

  <ion-button color="primary" expand="full" (click)="takePhoto()" shape="round">
    <ion-icon name="camera"></ion-icon>&nbsp;Tomar Foto
  </ion-button>

  <ion-grid>
    <ion-row>
      <ion-col col-6 *ngFor="let photo of photos; let id = index">
        <ion-card class="block">
          <ion-icon name="trash" class="deleteIcon" (click)="deletePhoto(id)"></ion-icon>
          <img [src]="photo" *ngIf="photo" />
          <ion-chip color="secondary">
            <ion-label>Q: {{quality}} - H: {{height}} - W: {{width}}</ion-label>
          </ion-chip>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
